<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    <head>

        {{- block "site/meta" . -}}
            {{- partial "site/meta.html" . -}}
        {{- end -}}

        <title>{{- block "title" . -}}
            {{ with .Title }}{{ . }} - {{ end }}{{ .Site.Title }}
        {{- end -}}</title>

        {{ range .AlternativeOutputFormats }}
            <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
        {{ end }}

        {{- block "site/styles" . -}}{{- partial "site/styles.html" . -}}{{- end -}}
    
        {{- if eq .Kind "home" -}}
        {{- end -}}

        {{- if .Site.GoogleAnalytics -}}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115901002-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '{{ .Site.GoogleAnalytics}}');
        </script>
        {{- end -}}
        
    </head>
    <body>
        
        <main id="barba-wrapper" role="main">

            <div id="siteBorder" class="site-border">
                <div class="top-bottom-site-border"></div>
                <div class="left-right-site-border"></div>
            </div>

            {{- block "header" . -}}{{ partial "site/header.html" . }}{{- end -}}

            {{- block "main" . -}}{{- end -}}

        </main>

        {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}

    </body>
</html>